body {
    background-image: url("/assets/images/swimbackground.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.jumbotron{
    margin-top: 30px;
    background-color: #e3f2fd;
    font-family: 'Architects Daughter', cursive;
}

.card{
    margin-bottom: 20px;
}

.noSaved, .updateJumbo{
    background-color: #e3f2fd;
}

.navbar{
    font-family: 'Architects Daughter', cursive;
}


